.CardItem{
    border-radius: 10px;
    text-align: center;
    background-color: white;
    width: 370px;
    color: gray
}

.CardItem:hover{
    box-shadow: 10px 10px 10px 10px rgba(252, 251, 251, 0.2);
}

.img{
    width: auto;
    height: 350px;
    padding-top: 10px;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}

.item picture{
    overflow: hidden;
}

.item:hover img{
    transform: scale(1.2);
}

.CardItem Header h2{
    font-weight:900;
    font-size: 25px;
    color: rgb(63, 60, 60);
}